<!DOCTYPE html>
<html <% if(config.language) { %> lang="<%- config.language %>" <% } %>>
    <%- partial('_common/head') %>
    <body>
        <%- partial('_common/header') %>
        <section class="main-section">
            <%- body %>
        </section>
        <%- partial('_common/footer', {}, {cache: true}) %>
        <div id="mask" class="hidden mask fixed inset-0 bg-gray-900 opacity-75 z-40"></div>
        <div id="search-view-container" class="hidden shadow-xl"></div>
        <%- partial('_common/scripts') %>

    </body>
</html>
